<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>Available Cocktails</h1>
      <% @cocktails.each do |cocktail| %>
      <%= link_to (cocktail_path(cocktail)) do  %>
      <h4 class="list-item">  <%= cocktail.name  %>
        <% if cocktail.photos? %>
          <%= cl_image_tag(cocktail.photos[0].path, { size: '50x50', crop: :thumb, gravity: :face, class: "avatar-round" }) %>
        <% end %>
      </h4>
      <% end %>
      <% end %>
      <%= link_to "Create a new cocktail", new_cocktail_path, {class: "btn btn-primary"} %>
    </div>
  </div>
</div>
